:root {
    --main-radius: 5px;
    --main-padding: 0px;
    --color-primary-100 : rgb(154,176,76);
    --color-primary-200 : rgb(154, 241, 50);
    --color-primary-300 : #ccc99e;
    --color-secondary-100: rgb(228, 166, 51);
    --color-secondary-200: rgb(233, 195, 126);
    --color-secondary-300: rgb(209, 197, 174);
  }
  
  body {
    font-family: "Inter", sans-serif;
    /* background-color: var(--color-primary-200); */
  }
  
  .bordered {
    border: 1px solid black;
  }
  
  .bordered-red {
    border: 1px solid red;
  }
  .bordered-blue {
    border: 1px solid blue;
  }
  
  .ease-all { 
    transition: all .2s ease-in-out;
   }
  
   /* .grow:hover { 
    transform: scale(1.2, 1.2); color: orange
  } */

  /* img {
    width: 100%;
    height: 100%;
} */

ul {
    list-style: none;
}
li {
    display: inline-block;
    text-align: left;
    color: var(--color-primary-100);
}
p {
    font-weight: normal;

  }

 /* cards        */ 
 .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 10px;
}
.card {
  flex: 1 1 165px;
  flex-direction: column;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 
.card img {
  margin: 20px;
  max-width: 80px;
  max-height: 100px;
}

.card .text  p {
  padding: 1rem;
  text-align: left;
  font-size: .8rem;
}
.card .text  p:nth-child(1) {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

.main-title {
  color: var(--color-primary-100);
  font-size: 2.5rem;
}
.main-text {

    text-align: left;
}
  .grid-container {
    display: grid;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .8fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-areas:
      "ho ho ho ho ho"
      "nv nv nv nv nv"
      "sb mn mn mn mn"
      "sb mn mn mn mn"
      "sb mn mn mn mn"
      "ft ft ft ft ft"
      "ft ft ft ft ft";
    grid-gap: 0.5rem;
    font-weight: 800;

  }
  

  .hero {
      grid-area: ho;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }
  .logo{
      grid-row: 1;
      opacity: .7;
      /* flex: 1 1 auto; */
  }
  img {
    display: block;
  }
  .img-hero {
    object-fit: cover;
    height: 35vh;
    width: 150%;
    opacity: .7;
  }
  .img-logo {
    object-fit: cover;
    height: 35vh;
  }

  .navigation {
      grid-area: nv;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

  }
  .main {
    /* background: #84ffff; */
    grid-area: mn;
    grid-row: 3 / 4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  .sidebar {
    grid-area: sb;
    display: flex;
    /* height: 88vh; */
    flex-direction: column;
    align-items: center;
    /* width: min-content; */
    background: var(--color-primary-100);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .sidebar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .sidebar h2 {
    padding:1rem;
  }
  .sidebar img {
    height: 40px;
    width: 40px;
    margin: 5px;
    /* margin-left: -40px; */
  }
  .sidebar h2,h3 {
    color: white;
  }

  
  .footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: white;
    background: var(--color-primary-100);
    border-radius: var(--main-radius);
    /* padding-top: var(--main-padding); */
  }
  .footer h2 {
    margin: 0;
  }

  .footer img {
    width: 60px;
    height: 60px;
  }

  a {
    text-align: center;
    display: block;
    opacity: .8;
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    color: var(--color-primary-300);
    box-shadow: 0 0, -1px 0 .4em olive;
    padding: 5px;
  }
  a:hover {
    transform: scale(1.5)
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "lo"
        "ba"
        "nv"
        "sb"
        "mn"
        "ft";
    }
  }
  